In [16]:
import ipython_setup
from get_all_tickers.get_tickers import get_tickers
from yahoo_fin.stock_info import get_balance_sheet, get_quote_table
from data.models import Company, BalanceSheet
import json
from pprint import pprint
import pandas as pd

In [26]:
bs = BalanceSheet.objects.all()
print(len(bs))
bs = bs.order_by("?")[0]
bs.data

4209

'{"Breakdown":{"0":"Total Assets","1":"Total Liabilities Net Minority Interest","2":"Total Equity Gross Minority Interest","3":"Total Capitalization","4":"Common Stock Equity","5":"Net Tangible Assets","6":"Invested Capital","7":"Tangible Book Value","8":"Total Debt","9":"Net Debt","10":"Share Issued","11":"Ordinary Shares Number"},"5\\/31\\/2019":{"0":"207746","1":"61316","2":"146430","3":"147560","4":"146430","5":"146430","6":"147560","7":"146430","8":"1130","9":"215.203","10":"7412","11":"7412"},"5\\/31\\/2018":{"0":"240976","1":"82743","2":"158234","3":"158623","4":"158234","5":"158234","6":"158623","7":"158234","8":"389.804","9":"-","10":"7370","11":"7370"}}'

In [19]:
x = get_quote_table("AAPL")

In [20]:
def market_cap(x) :
    m_cap = x["Market Cap"]
    if m_cap.endswith("T") :
        return float(m_cap[:-1]) * 1e12
    if m_cap.endswith("B") :
        return float(m_cap[:-1]) * 1e9
    if m_cap.endswith("M") :
        return float(m_cap[:-1]) * 1e6
    return float(m_cap)

market_cap(x)

1537000000000.0

In [24]:
x

{'1y Target Est': 318.84,
 '52 Week Range': '190.30 - 354.77',
 'Ask': '353.62 x 1400',
 'Avg. Volume': 44967770.0,
 'Beta (5Y Monthly)': 1.17,
 'Bid': '353.61 x 800',
 "Day's Range": '346.09 - 354.77',
 'EPS (TTM)': 12.73,
 'Earnings Date': 'Jul 28, 2020 - Aug 03, 2020',
 'Ex-Dividend Date': 'May 08, 2020',
 'Forward Dividend & Yield': '3.28 (0.95%)',
 'Market Cap': '1.537T',
 'Open': 347.9,
 'PE Ratio (TTM)': 27.85,
 'Previous Close': 343.99,
 'Quote Price': 354.489990234375,
 'Volume': 36245587.0}

In [11]:
apple = Company.objects.filter(ticker='AAPL')[0]
bs = BalanceSheet.objects.filter(company=apple)[0]
bs.df

,Breakdown,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Total Assets,338516000,365725000,375319000,321686000
1,Total Liabilities Net Minority Interest,248028000,258578000,241272000,193437000
2,Total Equity Gross Minority Interest,90488000,107147000,134047000,128249000
3,Total Capitalization,182295000,200882000,231254000,203676000
4,Common Stock Equity,90488000,107147000,134047000,128249000
5,Net Tangible Assets,90488000,107147000,126032000,119629000
6,Working Capital,57101000,14473000,27831000,27863000
7,Invested Capital,198535000,221630000,249727000,215281000
8,Tangible Book Value,90488000,107147000,126032000,119629000
9,Total Debt,108047000,114483000,115680000,87032000
10,Net Debt,59203000,88570000,95391000,66548000
11,Share Issued,4443236,4754986,5126201,5336166
12,Ordinary Shares Number,4443236,4754986,5126201,5336166

In [12]:
bs.total_assets()

338516000000.0

In [9]:
bs.total_debt()

108047000000.0

In [6]:
bs.df

,Breakdown,9/30/2019,9/30/2018,9/30/2017,9/30/2016
0,Total Assets,338516000,365725000,375319000,321686000
1,Total Liabilities Net Minority Interest,248028000,258578000,241272000,193437000
2,Total Equity Gross Minority Interest,90488000,107147000,134047000,128249000
3,Total Capitalization,182295000,200882000,231254000,203676000
4,Common Stock Equity,90488000,107147000,134047000,128249000
5,Net Tangible Assets,90488000,107147000,126032000,119629000
6,Working Capital,57101000,14473000,27831000,27863000
7,Invested Capital,198535000,221630000,249727000,215281000
8,Tangible Book Value,90488000,107147000,126032000,119629000
9,Total Debt,108047000,114483000,115680000,87032000
10,Net Debt,59203000,88570000,95391000,66548000
11,Share Issued,4443236,4754986,5126201,5336166
12,Ordinary Shares Number,4443236,4754986,5126201,5336166

In [9]:
datetime(2019, 12, 31, 0, 0) == datetime.strptime("12/31/2019", '%m/%d/%Y')

True

True